body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font: 25px Arial, sans-serif;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 250px repeat(5, 80px);
    gap: 12px;
    padding: 24px;
    background: #F6F7FC;
    border-radius: 30px;
    box-shadow: 0 10px 10px grey;
    width: 360px;
}

.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.screen {
    position: relative;
    grid-column: 1 / -1;
    background: transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 76px;
    color: #505050;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    overflow: auto;
}

#result {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


button {
    border: none;
    cursor: pointer;
    background: white;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: #505050;
    padding: 0;
    line-height: 36px;
    text-align: center;
    font-size: 30px;
    user-select: none;
    transition: all 0.7s ease;
}

button.operator {
    background: #93A3F3;
    color: white;
    margin-right: 0;
}

button.eval {
    grid-column: 2 / -1;
}


button:active {
    box-shadow: 0 0 #6b54d3;
    top: 4px;
    transform: translateY(4px);
}

button.eval:active {
    box-shadow: 0 0 #717a33;
    top: 4px;
    transform: translateY(4px);
}

#theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    top: 0;
    width: 36px;
    right: 4%;
    box-shadow: 0 0 0 0 !important;
    height: 40px;

}
